

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Use Material-UI's default font */
  background-color: #f5f5f5;
  color: #333;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.landing-section {
  background: linear-gradient(to right, #1976d2, #42a5f5);
  color: white;
  padding: 100px 20px;
}

.landing-section h3 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.landing-section h6 {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

button {
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.1);
}
